html.light {
  background-color: #ffffff;
  color: #000000;
  transition: ease 1s;
}

html.dark {
  background-color: #121212;
  color: #ffffff;
  transition: ease 500ms;
}
html.dark nav {
  background: #202020;
  color: white;
  transition: ease 500ms;
}
html.dark a {
  color: white;
}
html.dark .nav-ul {
  background: #202020;
  border: 1px solid white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

/* To style the navbar */
nav {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  z-index: 50;
  background-image: url("/bgContact.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-ul {
  display: none;
}
nav a {
  text-decoration: dashed;
  color: black;
  font-family: Ovo;
}
.nav-scroll {
  background-color: white;
  background-color: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(16px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.nav-ul.ul-scroll {
  background: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.second-contatct {
  display: none;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 80px 40px;
  position: fixed;
  right: -256px;
  top: 0;
  bottom: 0;
  width: 256px;
  z-index: 50;
  background-color: #fff1f2;
  height: 100vh;
  transition: right o.3 ease;
}
html.dark .mobile-menu {
  background-color: #202020;
}
.menu-nav:active {
  transform: scale(0.8);
  transition: ease 500ms;
}
.close-menu:active {
  transform: scale(0.8);
}

/* Header  */
.header-container {
  width: 91%;
  max-width: 768px;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.header-img {
  border-radius: 9999px;
  width: 128px;
}
.header-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: Ovo;
  font-size: 20px;
}
.header-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
}
/* about */
.about-intro {
  width: 100%;
  height: auto;
  padding: 40px 12%;
  display: block;
  scroll-margin-top: 20px;
}
.about-intro h4,
.services-intro h4 {
  text-align: center;
  font-family: Ovo;
  font-size: 18px;
  margin-bottom: 8px;
}
.about-intro h2,
.services-intro h2 {
  text-align: center;
  font-family: Ovo;
  font-size: 40px;
  line-height: 0.8rem;
}
.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 80px;
  margin: 50px 0;
}
.about-img {
  width: 220px;
  /* flex: 1 1 0%; */
  /* position: relative; */
  border-radius: 24px;
  max-width: none;
}
.about-content {
  flex: 1 1 0%;
}
.about-text {
  font-family: Ovo;
  margin-bottom: 25px;
  max-width: 672px;
}
.about-tags {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  max-width: 672px;
}
.about-tags span {
  border: 0.5px solid grey;
  border-radius: 12px;
  cursor: pointer;
  padding: 7px 10px;
}
.about-tags span:hover {
  background-color: #fcf4ff;
  transform: translateY(-4px);
  transition: 0.5s ease-in-out;
  box-shadow: 4px 4px 0 #000;
}
.about-tags span h3 {
  /* margin: 16px 0; */
  font-weight: 600;
  color: #374151;
}
.about-tags span p {
  font-size: 14px;
  color: #4b5563;
}
.tools-img {
  width: 20px;
}
.tools li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  aspect-ratio: 1/1;
  border: 1px solid #9ca3af;
  border-radius: 8px;
  cursor: pointer;
}
.tools li:hover {
  transform: translateY(-4px);
  transition: 0.5s ease-in-out;
}

/* Services */
.services-intro {
  width: 100%;
  height: auto;
  padding: 40px 12%;
  scroll-margin-top: 50px;
}
.services-text {
  text-align: center;
  max-width: 672px;
  margin-bottom: 48px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: Ovo;
}
.services-work {
  display: grid;
  grid-auto-columns: auto;
  gap: 24px;
  margin: 10px 0;
}
.services-work h3 {
  font-size: 18px;
  margin: 16px 0;
  color: #374151;
}
.services-work p {
  text-align: left;
  font-size: 14px;
  color: #525252;
  line-height: 20px;
}
.services-work span {
  border: 1px solid #9ca3af;
  border-radius: 8px;
  padding: 40px 32px;
  cursor: pointer;
}
.services-work span:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translateY(-4px);
  transition: 0.5s ease-in-out;
  background-color: #fcf4ff;
}

/* WORKS */
.works-display {
  display: grid;
  grid-template-columns: auto; /* Force 4 equal-width columns */
  margin: 40px 0;
  gap: 20px;
}
.works-display .work {
  aspect-ratio: 1/1;
  border-radius: 8px;
  position: relative;
  height: auto;
  cursor: pointer;
  width: 100%;
  height: 200px;
}
.works-display .work .work-content {
  background-color: white;
  border-radius: 6px;
  width: 83.33%;
  height: 70px;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition-duration: 500ms;
  position: absolute;
}
html.dark .works-display .work .work-content {
  background-color: #202020;
}
.work-content h2 {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 600;
}
html.dark .work-content h2 {
  color: #6b7280;
}
.work-content p {
  font-size: 0.875rem;
  color: #374151;
  line-height: 1.25rem;
}
html.dark .work-content p {
  color: #cbd5e0;
}

.work:hover .work-content {
  bottom: 17px;
}
.work-content .icon {
  border-radius: 99999px;
  border-color: black;
  box-shadow: 2px 2px 0 #000;
  width: 2.5rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work:hover .icon {
  transition-duration: 500ms;
  background-color: #bef264;
}
.showMoreLink {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #374151;
  border: 0.5px solid #374151;
  border-radius: 99999px;
  margin: 80px auto;
  padding: 0 40px;
}
.showMoreLink:hover {
  transition: 0.5s ease-in-out;
  background-color: #fcf4ff;
}
html.dark .showMoreLink:hover {
  color: #121212;
}

/* CONTACT */
.contact-form {
  max-width: 672px;
  margin: 0 auto;
}
.form-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 32px;
}
.input-name {
  flex: 1 1 0%;
  padding: 12px;
  outline: none;
  border: 0.5px solid #cbd5e0;
  border-radius: 6px;
  background-color: white;
}
html.dark .input-name {
  background-color: #e0e0e0;
}
.input-mail {
  flex: 1 1 0%;
  padding: 12px;
  outline: none;
  border: 0.5px solid #cbd5e0;
  border-radius: 6px;
  background-color: white;
}
html.dark .input-mail {
  background-color: #e0e0e0;
}
.contact-form textarea {
  width: 100%;
  padding: 16px;
  border: 0.5px solid #cbd5e0;
  border-radius: 6px;
  background-color: white;
  margin-bottom: 24px;
}
html.dark .contact-form textarea {
  background-color: #e0e0e0;
}
.contact-form button {
  padding: 12px 32px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 99999px;
  margin: 0 auto;
}
.contact-form button:hover {
  background-color: black;
  transition-duration: 500ms;
}
.footer-copyright {
  border-top: 1px solid #4b5563;
  padding: 12px 0;
  margin: 0 10%;
  text-align: center;
}
.footer-copyright ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 40px;
}

/* MEDIA QUERY */
@media (min-width: 1024px) {
  nav {
    padding: 0 60px;
    justify-content: space-between;
    display: flex;
  }
  .nav-ul {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 9999px;
    padding: 12px 48px;
    list-style: none;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    margin-left: 64px;
  }
  .second-contatct {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 40px;
    border: 1px solid #6b7280;
    border-radius: 9999px;
    /* margin-right: 20px; */
  }
  .header-title {
    font-size: 66px;
  }
  .about-container {
    flex-direction: row;
  }
  .works-display {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* displays the navbar on medium screen size */
@media (min-width: 768px) {
  .nav-ul {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .menu-nav {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header-name {
    font-size: 24px;
  }
  .services-work {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  /* .about-content{
    flex: 1 1 auto;
  } */
}
@media (min-width: 640px) {
  .about-img {
    width: 320px;
  }
  .about-tags {
    grid-template-columns: repeat(3, 1fr);
  }
  .tools-img {
    width: 28px;
  }
  .tools {
    gap: 20px;
  }
  .tools li {
    width: 56px;
  }
  .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-copyright ul {
    margin-top: 0;
  }
}
